<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 col-lg-6 offset-md-3 offset-lg-3 col-xs-12">
      <div class="card">
        <div class="card-header bg-dark">
          <i class="bi bi-trash text-light todo-trash" [ngClass]="className" mwlDroppable (drop)="onDelete($event)"></i>
          <h1 class="text-center text-light">To do App</h1>
          <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
            <div class="d-flex">
              <input type="text" formControlName="name" class="form-control m-2" />
              <button class="col-2 btn btn-success" type="submit" [disabled]="!taskForm.valid">Add</button>
            </div>
          </form>
        </div>
        <div class="card-body bg-dark">
          <div *ngFor="let el of tasks">
            <div class="d-flex todo-card"  mwlDraggable [dropData]="el" (dragStart)="dragStart($event)" (dragEnd)="dragEnd($event)">
              <i class="bi bi-grip-vertical text-light"></i>
              <span class="text-light">{{ el.name }}</span>
              <input type="checkbox" [value]="el.done">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>